[alias]
	ap = !git add -N . && git add -p
	br = branch
	ca = commit --amend
	caa = commit --amend --allow-empty --no-edit
	capf = !git commit --amend && git push -f	
	co = checkout
	cob = !git fetch origin main:main && git checkout -b
	com = !git checkout main && git pull --rebase origin main
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pf = !git push -f
	rc = !git rebase --continue
	ra = !git rebase --abort
	rem = !git pull --rebase origin main
	reim = !git rebase -i main
	st = status
[branch]
	autosetuprebase = always
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[fetch]
	prune = true
[init]
	templateDir = ~/.git-templates
	defaultBranch = main
[merge]
	tool = vimdiff
[pull]
  rebase = true
[push]
	default = current
  autoSetupRemote = true
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = Adam Barcan
	email = adam.barcan@alloy.com
